/**
Hoja de estilos para la frutería 
*/
body{
    background-color: bisque;
}




/**#Ticket{
    width: 500px;
    height: auto;
    border: 1px black solid;
    min-height: 20px;
    margin-bottom: 20px;
}*/

.imagen{
    margin-right: 5px;
    width: 100px;
    height: 100px;
    float: left;
}
.alinear{
    float: left;  
    width: 300px;
    border-right: 2px ridge ;
    border-bottom: 2px ridge;
    padding: 1%;
}


#Divformulario{
    
    margin-top: 2%;
    float: left;
    height:auto;
    width: 100%;
    border: 1px solid black;
}
#DivSuperior{
    min-height: 600px;
    margin-bottom: 2%;
}
#frutas{
    float: left;
    width: 68%;
    height: 600px;
    max-width: 900px;
    overflow: auto;
    
}
#lateral{
    float: right;
    width: 30%;
    height: 580px
}
#form1{
    margin: 1%;
    float: left;
    width: 40%;
}
#form2{
    float: left;
    width: 20%;
}
#form3{
    margin: 1%;
    float: left;
    width: 30%;
    border: 1px black solid;
    height: auto;
    min-height: 60px;
}
