/**
Hoja de estilos para la frutería 
*/
body{
    background-color: bisque;
}

#frutas{
    float: left;
    width: 70%;
    height: 70%;
    
}

#lateral{
    float: right;
    width: 25%;
    height: 70%;
    max-height: 400px;
    border: 1px black solid;
}
#Ticket{
    width: 500px;
    height: auto;
    border: 1px black solid;
    min-height: 20px;
    margin-bottom: 20px;
}
.imagen{
    margin: 0.5px;
    width: 100px;
    height: 100px;
    float: left;
}
.alinear{
    float: left; 
    width: 300px;
    border-right: 2px ridge ;
    border-bottom: 2px ridge;
    padding: 1%;
}


#Divformulario{
    float: left;
    height:200px;
    width: 100%;
    border: 1px solid black;
}
